@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-bold text-8xl text-black;
  }
  h2 {
    @apply font-bold text-5xl text-black;
  }
  h3 {
    @apply font-semibold text-2xl text-black;
  }
  h4 {
    @apply font-medium text-xl text-black;
  }
  p {
    @apply font-normal text-lg text-black break-keep;
  }
  a {
    @apply font-normal text-sm text-black break-keep;
  }
}

@keyframes bounce-fadeIn {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@layer utilities {
  .animate-bounce-fadeIn {
    animation: bounce-fadeIn 1s ease-in-out;
  }
}
