@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-bold text-black;
    @apply text-6xl lg:text-8xl;
  }
  h2 {
    @apply font-bold text-black;
    @apply text-4xl lg:text-5xl;
  }
  h3 {
    @apply font-semibold  text-black;
    @apply text-xl lg:text-2xl;
  }
  h4 {
    @apply font-medium text-xl text-black;
    @apply sm:text-sm break-keep;
  }
  p {
    @apply font-normal text-black break-keep;
    @apply text-lg sm:text-sm;
  }
  a {
    @apply font-normal text-black break-keep;
    @apply text-lg sm:text-sm;
  }
}

@keyframes bounce-fadeIn {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@layer utilities {
  .animate-bounce-fadeIn {
    animation: bounce-fadeIn 1s ease-in-out;
  }
}
